.StockTickerWrapper {
  padding: 20px;
  text-align: center;


  .StockTicker {
    clear: both;
    overflow: hidden;
    min-width: 350px;
    width: calc(300px - 20px);
    display: inline-block;
    margin: 20px;
    background-color: white;
    vertical-align: top;

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }

  .headerText{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }

  .valueData{
    font-size: 16px;
    font-weight: 300;
    color: #666666;
  }

  .selectBox {
    position: relative;
    margin: 40px;

  }

  .companyLogo{
    //height: 300px;
    //background-color: #efefef;
  }
}
