
<div class="myLoaderContainer" [hidden]="!showLoader">
  <img src="./assets/loader.gif"/>
</div>

<md-select placeholder="Company Symbol" class="margin40" [(ngModel)]="selectedSymbol" (change)="updateCompanyList(selectedSymbol)">
  <md-option value="all">
    All
  </md-option>
  <md-option *ngFor="let symbol of SYMBOLS; let i=index" [value]="symbol" >
    {{symbol}}
  </md-option>
</md-select>

<div class="StockTickerWrapper" *ngIf="companyData.length > 0">




  <div fxLayout="row" md.fxLayout="column" fxLayoutWrap="wrap" fxLayoutGap="20px">
    <div fxFlex="calc(33 - 20px)" md.fxFlex="48" sm.fxFlex="100" class="StockTicker" *ngFor="let companyDetail of companyDataList" [hidden]="companyDetail.symbol != selectedSymbol || selectedSymbol === 'all'">
      <div  class="padding24">

      <div class="companyLogo">
        <img [src]="companyDetail.logo" width="150"/>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <p class="headerText">Price</p>
          <p class="valueData">{{companyDetail.companyTrades.price || 'N/A'}}</p>
        </div>

        <div fxFlex>
          <p class="headerText">Size</p>
          <p class="valueData">{{companyDetail.companyTrades.size || 'N/A'}}</p>
        </div>

        <div fxFlex>
          <p class="headerText">TradeID</p>
          <p class="valueData">{{companyDetail.companyTrades.tradeId || 'N/A'}}</p>
        </div>
      </div>

      <div fxLayout="column">
        <div fxFlex>
          <p  class="headerText">Time</p>
          <p class="valueData">{{companyDetail.companyTrades.timestamp | date: 'short'}}</p>
        </div>

       
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
        <p fxFlex = "30"  class="headerText textLeft">SECTOR</p>
        <p class="valueData textLeft">{{companyDetail.sector || 'N/A'}}</p>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
        <p fxFlex = "30"  class="headerText textLeft">INDUSTRY</p>
        <p class="valueData textLeft">{{companyDetail.industry || 'N/A'}}</p>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
        <p fxFlex = "30"  class="headerText textLeft">CEO</p>
        <p class="valueData textLeft">{{companyDetail.CEO || 'N/A'}}</p>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
        <p fxFlex = "30"  class="headerText textLeft">WEBSITE</p>
        <a class="valueData timestamp" target="_blank" [href]="companyDetail.website" [innerText]="companyDetail.website"></a>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="top center">
        <p fxFlex = "30" class="headerText textLeft" fxAlign="left">DESCRIPTION</p>
        <p class="valueData textLeft">{{companyDetail.description || 'N/A'}}</p>
      </div>
      </div>
    </div>
  </div>
</div>
