/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
//@import '~md2/datepicker/datepicker';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-cyan);
$app-accent:  mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
//@include md2-datepicker-theme($app-theme);


body, html {
  margin: 0;
  padding: 0;

  background-color: #efefef;

  font-family: 'Roboto', sans-serif;

}

.animatedContent{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.myLoaderContainer {
  position: fixed;
  right: auto;
  z-index: 1000;
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;

  img{
    display: inline-block;
    top: calc(50% - 100px);
    position: relative;
  }
}

.textLeft{    text-align: left;
}
.padding24{padding: 24px}
.margin40{margin: 40px}
